<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            border-collapse: collapse;
        }
        table td {
            vertical-align: top;
            border: 1px solid #dedede;
            padding: 10px;
        }
    </style>
    <title>Error page</title>
</head>
<body>
<p th:replace="fragments/header"/>
<h1>Oops</h1>
<table>
    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"/>
    </tr>
    <tr th:if="${exception}">
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    <tr th:if="${trace}">
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"/>
        </td>
    </tr>
</table>
</body>
</html>