<html xmlns:th="http://www.thymeleaf.org">
<body>
<a href="javascript:window.close();">Close</a>
<hr align="left" width="50%">
<h3><span th:text="'Search match in '"/><a th:href="@{'/download/' + ${name}}" th:text="${name}"/><span
        th:text="' for &quot;' + ${searchFor} + '&quot; at index ' + ${matchIndex}"/></h3>
<span th:utext="${#strings.replace( #strings.escapeXml( before ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"
/><span style="background-color: #FFFF00"
        th:utext="${#strings.replace( #strings.escapeXml(searchFor ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"
/><span th:utext="${#strings.replace( #strings.escapeXml( after ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"/>
<br/>
<hr align="left" width="50%">
<a th:href="@{'/fragment?name=' + ${name} + '&searchFor=' + ${searchFor} + '&matchIndex=' + ${matchIndex} + '&radius=' + ${radius * 2}}"
   th:text="Expand"/>
<hr align="left" width="50%">
<a href="javascript:window.close();">Close</a>
</body>
</html>